/* Estilos globales */

h2 {
    font-size: 1.5pc;
    letter-spacing: 2px;
    font-weight: 600;
}

h4 {
    font-weight: 400;
}

h5 {
    font-weight: 400;
}

span {
    font-weight: 300;
}

/* Seccion selector- cotizacionees */
.pizarra-section {
    padding: 20px;
}

.cotizaciones-title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-interactive-control);
}

.selector-monedas-container {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 15px;
    border: 0.5px solid rgba(179, 187, 198, 0.45);
    box-shadow: 0px 0px 10px rgba(179, 187, 198, 0.45);
    position: relative;
    max-width: 100%; /* Asegura que el contenedor no se salga del contenedor */
}

    .selector-monedas-container::after {
        content: '\25BC'; /* Flecha hacia abajo */
        position: absolute;
        top: 50%;
        right: 17px;
        transform: translateY(-50%);
        pointer-events: none;
        color: #999;
    }

.nombre-bandera {
    padding-left: 8px;
    padding-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag {
    width: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .flag img {
        width: 100%;
        object-fit: cover;
    }

.nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 8px;
    font-size: 18px;
    font-weight: 700;
}

/* Reset de estilos por defecto del selector */
select {
    width: 100%;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 38px 10px 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: border-color 0.3s;
}

    /* Estilo del contenedor del selector */
    select:hover,
    select:focus {
        border-color: #007BFF;
    }

    /* Añadir una flecha al selector */
    select::after {
        content: '\25BC'; /* Flecha hacia abajo */
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        color: #999;
    }

    /* Estilo de las opciones del selector */
    select option {
        padding: 10px;
        font-size: 16px;
    }









.fecha-hora {
    margin-top: 20px;
    text-align: center;
}

    .fecha-hora p {
        font-size: 20px;
        color: var(--color-interactive-control);
    }

.monedas-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 40px;
    background-color: #fff;
    padding: 20px;
}

.moneda-container {
    width: 350px;
    padding: 15px;
}

.moneda-card {
    border-radius: 15px;
    border: 0.5px solid rgba(179, 187, 198, 0.45);
    box-shadow: 0px 0px 10px rgba(179, 187, 198, 0.45);
}

.moneda-title {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 3px;
}

    .moneda-title h4 {
        text-align: center;
    }

.moneda-body {
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin-bottom: 3px;
}

.moneda-footer {
    display: flex;
    justify-content: center;
}

.favoritos {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-interactive-accent);
    cursor: pointer;
}

.btn-favorito {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

    .btn-favorito i {
        font-size: 30px;
        color: var(--color-interactive-control);
    }

.flag-container {
    width: 30px;
    height: 30px;
}

    .flag-container img {
        width: 100%;
        object-fit: cover;
    }

.aviso-favoritos {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

    .aviso-favoritos p {
        font-size: 16px;
        color: var(--color-interactive-control);
    }

    .aviso-favoritos span {
        font-weight: bold;
    }

.comentarios-section {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    position: relative;
}

    .comentarios-section h2 {
        text-align: center;
    }

/* Seccion comentarios */
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px;
}

.slider {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.card-comentarios {
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

    .card-comentarios img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
    }

.button-comentarios {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-interactive-accent);
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* medias querys */
@media screen and (max-width: 768px) {
    .comentarios-container {
        grid-template-columns: repeat(3, 1fr);
    }

    select {
        padding: 8px 30px 8px 8px;
        font-size: 14px;
    }

    .select-container::after {
        right: 8px;
    }
}

@media screen and (max-width: 430px) {
    .cotizaciones-title h2 {
        font-size: 22px;
    }

    .monedas-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .moneda-container {
        width: 300px;
    }

    .comentarios-container {
        display: flex;
        flex-wrap: wrap;
    }

    .fecha-hora {
        text-align: start;
    }

        .fecha-hora p {
            font-size: 18px;
        }

    .aviso-favoritos {
        flex-wrap: wrap;
        gap: 10px;
    }

    .selector-monedas-container {
        width: 300px;
    }


    select {
        padding: 6px 25px 6px 6px;
        font-size: 12px;
    }

    .select-container::after {
        right: 5px;
    }
    select option {
        padding: 5px;
        font-size: 14px;
    }
}

@media screen and (max-width: 325px) {
    .selector-monedas-container {
        width: 250px;
    }

    .moneda-container {
        width: 240px;
    }
    select option {
        font-size: 12px;
    }
}
